@import url('https://ovio.am/storage/uploads/slider/RwxLacFlf3BPuQx3nZ4Xkpckqhe3WEq1pMTr3KhE.jpg'); 
@import './components/HeroSection/HeroSection.css'; 


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5; 
  color: #333; 
}

.App {
  text-align: center;
}

main {
  padding-top: 0px; 
}